<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Galaxy_Game_Store
    RewriteRule ^home index.php [L]
    RewriteRule ^forgot_password pages/forgot_password.php [L]
    RewriteRule ^register pages/register.php [L]
    RewriteRule ^login pages/login.php [L,R]
    RewriteRule ^store pages/store.php [L]
    RewriteRule ^main_news pages/main_news.php [L]
    RewriteRule ^profile pages/profile_user.php [L]
    RewriteRule ^recharge pages/recharge.php [L]
    RewriteRule ^bag pages/user_bag.php [L]
    RewriteRule ^product_details pages/product_details.php [L]
    RewriteRule ^shopping_cart pages/shopping_cart.php [L]
    RewriteRule ^checkout pages/checkout.php [L]
    RewriteRule ^category_news pages/category_news.php [L]
    RewriteRule ^news pages/news.php [L]
</IfModule>