/* PLACE YOU CUSTOM STYLES IN THIS FILE */
/* PLACE YOU CUSTOM STYLES IN THIS FILE */

html {
    scroll-behavior: smooth;
}

a:hover {
    text-decoration: none;
}

.price_discount {
    color: yellow;
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: 5px;
    border: 1px solid yellow;
    text-shadow: 1px 1px 1px #ff0;
    background-image: linear-gradient(to bottom,
            #dd163b,
            orange);
    box-shadow: 0px 0px 10px yellow;
    transform: rotate(-1deg);
    animation: price-glow .5s infinite linear alternate;
    padding: 3px 5px;
}

@keyframes price-glow {
    0% {
        box-shadow: 0 0 10px #dd163b;
    }

    100% {
        box-shadow: 0 0 20px orange;
    }
}

.old-price {
    font-size: 1em;
    text-decoration: line-through;
    color: gray;
    opacity: 0.5;
}

.price {
    font-size: 1.5em;
    color: #dd163b;
    font-weight: bold;
}

.current-price {
    font-size: 1.5em;
    color: #dd163b;
    font-weight: bold;
    animation: glowing 2s infinite linear alternate;
}

/* Responsive styles for screens <= 768px */
@media only screen and (max-width: 768px) {
    .current-price {
        font-size: 1.2em;
    }

    .price_discount {
        font-size: 0.9em;
    }
}

@keyframes glowing {
    0% {
        text-shadow: 0 0 3px #fff;
    }

    50% {
        text-shadow: 0 0 10px #ffd98f;
    }

    100% {
        text-shadow: 0 0 3px #fff;
    }
}

.produc_name {
    display: block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no_suggestion {
    display: flex;
    justify-content: center;
    align-items: center;
}


.position-absolute {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(221, 22, 59, 0.8));
}

.span-genre {
    color: white;
    font-size: 1.7em;
    font-weight: bold;
    text-shadow: 2px 2px #330000;
}

.news_title {
    max-width: 700px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 425px) {
    .news_title {
        white-space: normal;
    }
}

.popular_name {
    max-width: 700px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* START: RECOMMEND */
.recommend-item {
    background: #232930;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    border: 1px solid rgba(128, 128, 128, 0.342);
}

.slideshow {
    width: 60%;
    height: 100%;
    box-shadow: rgba(0, 0, 0) 0px 5px 20px;
}


.tab-slideshow {
    width: 40%;
    height: 100%;
    padding: 5px 0;
}

.tab-slideshow__name-product a h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin-bottom: 0;
    padding: 10px 0 0 20px;
}

.tab-slideshow__name-product a h3:hover {
    color: #dd163b;
    text-decoration: none;
}

.slideshow a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tab-slideshow__img {
    --tabs: 2;
    --spacing: 5px;
    display: flex;
    flex-wrap: wrap;
}

.tab-slideshow__img .tab-slideshow__img-item {
    width: calc(calc(100% / var(--tabs)) - var(--spacing));
    height: 100px;
    padding: var(--spacing);
}

.tab-slideshow__img .tab-slideshow__img-item img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
    transition: all .3s linear;
}

.tab-slideshow__img .tab-slideshow__img-item img:hover {
    filter: brightness(100%);
}

.tab-slideshow__genre-list span {
    font-family: "Montserrat", sans-serif;
    color: white;
    display: flex;
    align-items: center;
}

.tab-slideshow__control {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.tab-slideshow__control .price {
    display: flex;
    align-items: center;
    margin: 10px 0 0 20px;
}

.discount {
    font-family: "Montserrat", sans-serif;
    padding: 1px 5px;
    background: #dd163b;
    font-size: 13px;
    color: white;
}

is :where(.price_old, .price_new) i {
    font-size: 10px;
}

.price_old {
    padding: 0 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: gray;
    background: rgb(67, 66, 66);
    padding: 1px 5px;
    font-size: 13px;
    position: relative;
}

.price_old::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 55%;
    translate: -50% -50%;
    transform: rotate(-10deg);
    background: gray;
    width: 90%;
    height: 2px;
    box-shadow: black 0px 10px 10px;
}

.price_new {
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    background: rgb(67, 66, 66);
    padding: 1px 5px;
    font-size: 13px;
    color: #dd163b;
}

.tab-slideshow__control .btn_control {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    margin: 10px 20px 0 0;
}

.tab-slideshow__control .btn_control .btn {
    font-family: "Montserrat", sans-serif;
    background: #dd163b;
    color: white;
    font-weight: 550;
    font-size: 11px;
    transition: .3s linear;
}

.tab-slideshow__control .btn_control .btn:hover {
    background: #e3405e;
}

@media screen and (max-width: 769px) {
    .recommend-item {
        display: block;
    }
    .slideshow {
        width: 100%;
    }
    .tab-slideshow {
        display: none;
    }
}
@media screen and (max-width: 426px){
    .recommend-item {
       height: auto;
    }
    .slideshow a img{
        object-fit: contain;
    }
}
/* END: RECOMMEND */



/* START : SEARCH NAVBAR */
.icon {
    position: relative;
}
.icon::after{
    cursor: pointer;
    content: '';
    position: absolute;
    top: 15px;
    right: -10px;
    width: 50px;
    height: 20px;
    background: transparent;
}
.user_box{
    position: absolute;
    z-index: 1001;
    top: 90px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: auto;
    padding: 10px;
    border: 1px solid white;
    border-radius: 3px;
    background: #232930;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    clip-path: circle(0% at 100% 0%);
    transition: .3s linear;
}
.search_box{
    position: absolute;
    z-index: 1001;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 30px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: none;
    justify-content: center;
    align-items: center;
    column-gap: 3px;
    transition: .3s linear;
}
.search_box input{
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: bold;
    width: 100%;height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
}

@media screen and (max-width: 426px) {
    .search_box {
        transform: translate(-28%, -50%);
    }
}

.search_box form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.search_box form select {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background: #232930;
    outline: none;
    width: 30%;
    height: 100%;
    border: 1px solid white;
    border-radius: 3px;
}

.search_box form input {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: bold;
    width: 70%;
    height: 100%;
    background: #232930;
    border: 1px solid white;
    border-radius: 3px;
    outline: none;
    color: white;
}

.search_box form :where(select, input):focus {
    border: 2px solid #dd163b;
}

.suggest_search {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #232930;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    width: 100%;
    height: auto;
    max-height: 200px;
    overflow: auto;
    padding: 5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.suggest_search a {
    display: block;
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.861);
    border-bottom: 1px solid rgba(128, 128, 128, 0.441);
    text-decoration: none;
    transition: .3s linear;
}

.suggest_search a:hover {
    background: rgba(129, 127, 127, 0.459);
}

.suggest_search::-webkit-scrollbar {
    display: none;
}

.item_suggest {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    padding: 5px;
}

.item_suggest .type_suggest {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.item_suggest .name_suggest {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.item_suggest .name_suggest span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* END : SEARCH NAVBAR */