.hc-luckywheel ul,
.hc-luckywheel li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.hc-luckywheel {
    position: relative;
    width: 300px;
    /*Change this when change size*/
    height: 300px;
    /*Change this when change size*/
    border-radius: 50%;
    /* box-shadow: 0 2px 3px #333, 0 0 2px #c63434; */
    animation: price-glow 1s linear infinite alternate;
}


@keyframes price-glow {
    0% {
        box-shadow: 0 0 10px #dd163b;
    }

    100% {
        box-shadow: 0 0 20px orange;
    }
}

.hc-luckywheel-container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-clip: padding-box;
    -webkit-transition: transform 6s ease;
    transition: transform 6s ease;
}

.hc-luckywheel-container canvas {
    width: inherit;
    height: inherit;
    border-radius: 50%;
}

.hc-luckywheel-list {
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    z-index: 2;
}

.hc-luckywheel-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: black;
    font-size: 10px;
    font-weight: bold;
    text-shadow: 0 0px 1px rgba(255, 255, 255, 0.6);
}

.hc-luckywheel-item span {
    position: relative;
    display: block;
    padding-top: 30px;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    -webkit-transform-origin: 50% 250px;
    /*Change this when change size*/
    -ms-transform-origin: 50% 250px;
    /*Change this when change size*/
    transform-origin: 50% 150px;
}


/*Change this when change size*/

.hc-luckywheel-item img {
    position: relative;
    top: -20px;
    left: 0px;
    width: 100px;
    /*Change this when change size*/
    height: 100px;
}


/*Change this when change size*/

.hc-luckywheel-btn {
    position: absolute;
    top: 50%;
    /*Change this when change size*/
    left: 50%;
    transform: translate(-50%, -50%);
    /*Change this when change size*/
    z-index: 3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #f4e9cc;
    background-color: #972816;
    line-height: 80px;
    text-align: center;
    font-size: 15px;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hc-luckywheel-btn::after {
    position: absolute;
    display: block;
    content: "";
    left: 5px;
    top: -30px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 20px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #972816;
}

.hc-luckywheel-btn.disabled {
    pointer-events: none;
    background: #b07a7b;
    color: #ccc;
}

.hc-luckywheel-btn.disabled::after {
    border-bottom-color: #b07a7b;
}

.swal2-container {
    z-index: 10 !important;
}


/* tabs */


/* Style the tab */

.refresh {
    margin-top: 10px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.refresh span {
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    color: white;
}

.refresh .btn_refresh {
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    cursor: pointer;
    background: #dd163b;
    border: none;
    border-radius: 3px;
    transition: .3s linear;
}

.refresh .btn_refresh:hover {
    background: #e95a74;
}

.introduction {
    display: flex;
    align-items: center;
    position: relative;

}

.introduction .help {
    cursor: pointer;
    width: 30px;
    height: 30px;
    color: white;
    transition: .3s linear;
}
.introduction .help:hover{
    color: #dd163b;
}

.introduction_box{
    display: none;
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.763);
    padding: 5px;
}
.introduction .help:hover + .introduction_box{
    display: block;
}
.introduction_box .introduction_box__content{
    display: block;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 13px;
}
.spin_free{
    display: block;
    color: green;
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
}

.swal2-popup{
    background: rgb(23, 30, 34) !important;
}
.swal2-styled.swal2-confirm{
    background: #dd163b !important;
}
.swal2-title ,.swal2-content{
    font-family: "Montserrat", sans-serif !important;
    color: white !important;
}
/* notification */
.notification {
    position: fixed;
    z-index: 11;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.39);
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification_box {
    width: 300px;
    height: 150px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
}

.notification_box span {
    font-weight: bold;
    color: black;
}

.btn_notification {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;

}

.btn_notification a {
    background: #dd163b;
    color: white;
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: .3s linear;
}

.btn_notification a:hover {
    text-decoration: none;
    background: #9a1029;
}

.btn_notification button {
    cursor: pointer;
    background: gray;
    border: none;
    outline: none;
    width: 60px;
    height: 30px;
    border-radius: 3px;
    transition: .3s linear;
}

.btn_notification button:hover {
    background: rgb(163, 162, 162);
}

/* responsive */
@media screen and (max-width: 1025px) {
    .hc-luckywheel {
        width: 250px;
        height: 250px;
    }

    .hc-luckywheel-item span {
        transform-origin: 50% 130px;
    }
}

@media screen and (max-width: 769px) {
    .hc-luckywheel {
        width: 350px;
        height: 350px;
    }

    .hc-luckywheel-item span {
        transform-origin: 50% 130px;
    }

    .hc-luckywheel-btn {
        width: 60px;
        height: 60px;
    }

    .hc-luckywheel-btn::after {
        border-width: 20px;
        top: -32px;
        left: 10px;
    }
}

@media screen and (max-width: 376px) {
    .hc-luckywheel {
        width: 250px;
        height: 250px;
    }

    .hc-luckywheel-item span {
        transform-origin: 50% 130px;
    }
}