.hc-luckywheel ul,
.hc-luckywheel li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.hc-luckywheel {
    position: relative;
    width: 500px;
    /*Change this when change size*/
    height: 500px;
    /*Change this when change size*/
    border-radius: 50%;
    box-shadow: 0 2px 3px #333, 0 0 2px #000;
}

.hc-luckywheel-container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-clip: padding-box;
    background-color: #ffcb3f;
    -webkit-transition: transform 6s ease;
    transition: transform 6s ease;
}

.hc-luckywheel-container canvas {
    width: inherit;
    height: inherit;
    border-radius: 50%;
}

.hc-luckywheel-list {
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    z-index: 2;
}

.hc-luckywheel-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #e4370e;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
}

.hc-luckywheel-item span {
    position: relative;
    display: block;
    padding-top: 20px;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    -webkit-transform-origin: 50% 250px;
    /*Change this when change size*/
    -ms-transform-origin: 50% 250px;
    /*Change this when change size*/
    transform-origin: 50% 250px;
}


/*Change this when change size*/

.hc-luckywheel-item img {
    position: relative;
    top: -20px;
    left: 0px;
    width: 100px;
    /*Change this when change size*/
    height: 100px;
}


/*Change this when change size*/

.hc-luckywheel-btn {
    position: absolute;
    top: 50%;
    /*Change this when change size*/
    left: 50%;
    transform: translate(-50%, -50%);
    /*Change this when change size*/
    z-index: 3;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #f4e9cc;
    background-color: #e44025;
    line-height: 80px;
    text-align: center;
    font-size: 20px;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hc-luckywheel-btn::after {
    position: absolute;
    display: block;
    content: "";
    left: 10px;
    top: -46px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 30px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #e44025;
}

.hc-luckywheel-btn.disabled {
    pointer-events: none;
    background: #b07a7b;
    color: #ccc;
}

.hc-luckywheel-btn.disabled::after {
    border-bottom-color: #b07a7b;
}

.swal2-container {
    z-index: 10 !important;
}


/* tabs */


/* Style the tab */

.tab {
    overflow: hidden;
    border: 2px solid #dd163b;
    background-color: rgba(0, 0, 0, 0.495);
}


/* Style the buttons that are used to open the tab content */

.tab button {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: white;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    width: 50%;
    transition: 0.3s;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #c93d3d9a;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #c93d3d9c;
}


/* Style the tab content */

.tabcontent {
    color: white;
    display: none;
    padding: 6px 12px;
    border: 2px solid #dd163b;
    border-top: none;
    background: rgba(0, 0, 0, 0.329);
    height: 100%;
}

.tabcontent .spins {
    color: green;
    font-size: 15px;
    font-style: italic;
}

.tabcontent h3 {
    color: #fd9705;
}

.your__reward_history {
    max-height: 300px;
    overflow: auto;
}

.your__reward_history::-webkit-scrollbar {
    display: none;
}

.reward {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    border-bottom: 1px solid gray;
}

.refresh {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    border: none;
    outline: none;
    background: #dd163b;
    color: white;
    border-radius: 3px;
    transition: .3s linear;
}

.refresh:hover {
    background: #890e25;
}


/* notification */
.notification{
    position: fixed;
    z-index: 11;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    width: 100%;height: 100vh;
    background: rgba(0, 0, 0, 0.39);
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification_box{
    width: 300px;
    height: 150px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
}

.notification_box span{
    font-weight: bold;
    color: black;
}
.btn_notification{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;

}
.btn_notification a{
    background: #dd163b;
    color: white;
    width: 50px;height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: .3s linear;
}
.btn_notification a:hover{
    text-decoration: none;
    background: #9a1029;
}
.btn_notification button{
    cursor: pointer;
    background: gray;
    border: none;
    outline: none;
    width: 60px;
    height: 30px;
    border-radius: 3px;
    transition: .3s linear;
}
.btn_notification button:hover{
    background: rgb(163, 162, 162);
}
/* responsive */
@media screen and (max-width: 1025px) {
    .hc-luckywheel {
        width: 450px;
        height: 450px;
    }
    .hc-luckywheel-item span {
        transform-origin: 50% 220px;
    }
}

@media screen and (max-width: 769px) {
    .hc-luckywheel {
        width: 350px;
        height: 350px;
    }
    .hc-luckywheel-item span {
        transform-origin: 50% 180px;
    }
    .hc-luckywheel-btn{
        width: 60px;
        height: 60px;
    }
    .hc-luckywheel-btn::after{
        border-width: 20px;
        top: -32px;
    }
}

@media screen and (max-width: 321px) {
    .hc-luckywheel {
        width: 300px;
        height: 300px;
    }
    .hc-luckywheel-item span {
        transform-origin: 50% 150px;
    }
}