    @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
     :root {
        --color_background: #1b0d18;
        --color_yellow: #e1ae09;
        --color_white: #d4d4d4;
        --color_black: #1c1121;
        --color_dark: #1b182b;
        --color_light_dark: #322f40;
        --text_color: hsl(0, 0%, 91%);
        --color_item: #2c9b81a6;
    }
    
    a {
        text-decoration: none;
    }
    
    li {
        list-style-type: none;
    }
    
    input {
        border: none;
        outline: none;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    body {
        user-select: none;
        margin: 0;
        padding: 0;
        height: auto;
        width: 100%;
        box-sizing: border-box;
        font-size: 15px;
        font-weight: 500;
        color: #d4d4d4;
        background-image: url(../../images/Texture_FuLingLu_01clear.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .cart_container {
        margin: 0 auto;
        background-image: url(../../images/Texture_Bg_04.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 85%;
        height: 800px;
        padding: 9rem 4rem;
    }
    
    .cart_container .cart_content {
        padding: 0 2rem;
    }
    
    .cart_container .cart_content .cart_title {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cart_container .cart_content .cart_title h1 {
        font-family: 'Permanent Marker', cursive;
        margin-top: 5px;
    }
    
    .cart_body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 1rem;
    }
    
    .cart_content .cart_menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 1rem;
        margin-top: 1rem;
    }
    
    .cart_content .cart_menu .list_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 5px;
    }
    
    .cart_content .cart_menu .asset {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cart_content .cart_menu .asset img {
        width: 40px;
    }
    
    .cart_content .cart_menu .asset span {
        font-family: 'Permanent Marker', cursive;
        background-image: url(../../images/ty_qt_touxiangkuang_5.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        padding: 10px;
    }
    
    .cart_content .cart_menu .btn_menu {
        cursor: pointer;
        user-select: none;
        font-family: 'Permanent Marker', cursive;
        background-image: url(../../images/btn_common_yellow_3_1.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        outline: none;
        padding: 10px 20px;
        color: var(--color_black);
        transition: .5s linear;
    }
    
    .cart_content .cart_menu .btn_menu:nth-child(2) {
        padding: 10px 23px;
    }
    
    .cart_content .cart_menu .btn_menu:hover {
        background-image: url(../../images/btn_common_yellow_3_0.png);
    }
    
    .line_top {
        margin-top: -5px;
        width: 100%;
        height: 2px;
    }
    
    .line img {
        max-width: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    .cart_body {
        margin-top: 1rem;
    }
    
    .product_game,
    .product_gear {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 1rem;
        width: 100%;
    }
    
    .order_summery {
        width: 70%;
        height: 350px;
    }
    
    .payment_details {
        width: 30%;
        height: 350px;
        position: relative;
    }
    
    .payment_details span {
        color: var(--color_black);
    }
    
    .payment_details #open_bill {
        color: var(--color_black);
        cursor: pointer;
        transition: .3s linear;
    }
    
    .payment_details #open_bill:hover {
        color: red;
    }
    
    .gcoin_unit {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .title h2 {
        font-family: 'Permanent Marker', cursive;
        color: var(--color_black);
    }
    
    .list_product {
        background: #ddbe7c83;
        box-shadow: inset 0 0 1rem 0 rgba(11, 11, 11, 0.374);
        --spacing: 2px;
        --columns: 2;
        padding: 2px;
        display: flex;
        flex-wrap: wrap;
        margin-left: calc(-1 * var(--spacing));
        height: 310px;
        max-height: 310px;
        overflow: auto;
    }
    
    .list_product::-webkit-scrollbar {
        display: none;
    }
    
    .list_product .no_item {
        font-family: 'Permanent Marker', cursive;
        padding: 10px;
        color: rgba(128, 128, 128, 0.797);
    }
    
    .product_item {
        height: 80px;
        padding: 5px 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(calc(100% / var(--columns)) - var(--spacing));
        margin-left: var(--spacing);
        margin-bottom: var(--spacing);
        background-image: url(../../images/ach_top_bg.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .product_content {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 5px;
    }
    
    .img_product_game,
    .img_product_gear {
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        position: relative;
        overflow: hidden;
    }
    
    .img_product_game::after {
        content: '';
        position: absolute;
        z-index: 5;
        width: 100%;
        height: 100%;
        background-image: url(../../images/Effect/red-00000.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        animation: border_game 1.5s infinite forwards;
    }
    
    @keyframes border_game {
        0% {
            background-image: url(../../images/Effect/red-00001.png);
        }
        10% {
            background-image: url(../../images/Effect/red-00002.png);
        }
        20% {
            background-image: url(../../images/Effect/red-00003.png);
        }
        30% {
            background-image: url(../../images/Effect/red-00004.png);
        }
        40% {
            background-image: url(../../images/Effect/red-00005.png);
        }
        50% {
            background-image: url(../../images/Effect/red-00006.png);
        }
        60% {
            background-image: url(../../images/Effect/red-00007.png);
        }
        70% {
            background-image: url(../../images/Effect/red-00008.png);
        }
        80% {
            background-image: url(../../images/Effect/red-00009.png);
        }
        90% {
            background-image: url(../../images/Effect/red-00010.png);
        }
        100% {
            background-image: url(../../images/Effect/red-00011.png);
        }
    }
    
    .img_product_gear::after {
        content: '';
        position: absolute;
        z-index: 5;
        width: 100%;
        height: 100%;
        background-image: url(../../images/Effect/pink-00000.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        animation: border_gear 1.5s infinite forwards;
    }
    
    @keyframes border_gear {
        0% {
            background-image: url(../../images/Effect/pink-00001.png);
        }
        10% {
            background-image: url(../../images/Effect/pink-00002.png);
        }
        20% {
            background-image: url(../../images/Effect/pink-00003.png);
        }
        30% {
            background-image: url(../../images/Effect/pink-00004.png);
        }
        40% {
            background-image: url(../../images/Effect/pink-00005.png);
        }
        50% {
            background-image: url(../../images/Effect/pink-00006.png);
        }
        60% {
            background-image: url(../../images/Effect/pink-00007.png);
        }
        70% {
            background-image: url(../../images/Effect/pink-00008.png);
        }
        80% {
            background-image: url(../../images/Effect/pink-00009.png);
        }
        90% {
            background-image: url(../../images/Effect/pink-00010.png);
        }
        100% {
            background-image: url(../../images/Effect/pink-00011.png);
        }
    }
    
    .img_product_game img,
    .img_product_gear img {
        width: 55px;
        height: 55px;
    }
    
    .infor_product {
        color: var(--color_black);
    }
    
    .product_type {
        font-family: 'Permanent Marker', cursive;
        color: gray;
        font-size: 13px;
    }
    
    .product_name {
        font-family: 'Permanent Marker', cursive;
        font-size: 14px;
    }
    
    .product_control {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 1rem;
    }
    
    .quantity {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 3px;
    }
    
    .btn {
        width: 20px;
        height: 20px;
        background: none;
        border: none;
        outline: none;
    }
    
    .reduce {
        background-image: url(../../images/btn_common_plus_0.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transition: .5s linear;
    }
    
    .augment {
        background-image: url(../../images/btn_common_add_0.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transition: .5s linear;
    }
    
    .reduce:hover {
        background-image: url(../../images/btn_common_plus_1.png);
    }
    
    .augment:hover {
        background-image: url(../../images/btn_common_add_1.png);
    }
    
    .number_quantity {
        font-family: 'Permanent Marker', cursive;
        width: 30px;
        height: 15px;
        background: #ddbe7cba;
        box-shadow: inset 0 0 1rem 0 rgba(11, 11, 11, 0.374);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .price {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .price img {
        width: 30px;
        height: 30px;
    }
    
    .close img {
        width: 20px;
        height: 20px;
    }
    
    .payment_methods {
        width: 100%;
        display: flex;
        /* justify-content: space-between;
    align-items: center; */
        column-gap: 5px;
    }
    
    .payment_methods_item {
        width: calc(100% / 3);
        height: 30px;
        border: 1px solid #c5bc90;
        padding: 5px;
        display: flex;
        align-items: center;
    }
    
    .payment_methods_item label {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .payment_methods_item label span {
        user-select: none;
        font-family: 'Permanent Marker', cursive;
        font-size: 11px;
        font-weight: bold;
        color: var(--color_black);
    }
    
    .payment_methods_item input {
        display: none;
    }
    
    .payment_methods_item img {
        width: 20px;
        height: 20px;
    }
    
    .enter_payment input {
        padding: 5px;
    }
    
    .enter_payment input,
    select {
        background: #ddbe7cba;
        box-shadow: inset 0 0 1rem 0 rgba(11, 11, 11, 0.374);
        height: 30px;
        border-radius: 3px;
        border: none;
        outline: none;
    }
    
    .bill {
        width: 100%;
        height: 100%;
    }
    
    .bill_gear {
        width: 100%;
        height: auto;
        padding: 1rem;
        position: absolute;
        z-index: 5;
        top: -30px;
        left: -280px;
        border-radius: 5px;
        background-image: url(../../images/a144.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .close_bill {
        position: absolute;
        top: 20px;
        left: 90%;
        width: 100%;
    }
    
    .close_bill img {
        cursor: pointer;
        width: 20px;
        height: 20px;
    }
    
    .bill_content {
        padding: 1rem;
    }
    
    .list_product_details {
        height: 80px;
        max-height: 80px;
        overflow: auto;
    }
    
    .list_product_details::-webkit-scrollbar {
        display: none;
    }
    
    .details_item {
        color: var(--color_black);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #c5bc90;
    }
    
    .details_item span,
    #open_bill,
    .price span,
    .enter_payment span,
    .enter_payment input,
    .enter_payment select,
    .voucher span,
    .choose_voucher select,
    .invoice_information span {
        font-family: 'Permanent Marker', cursive;
    }
    
    .details_item img {
        vertical-align: middle;
        width: 30px;
        height: 30px;
    }
    
    .bill .btn_pay {
        font-family: 'Permanent Marker', cursive;
        background-image: url(../../images/btn_dungeon_result_0.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 13px;
        padding: 10px 55px;
        color: var(--color_black);
        transition: .5s linear;
        margin-right: 120px;
    }
    
    .bill .btn_pay:hover {
        background-image: url(../../images/btn_dungeon_result_1.png);
    }
    
    .voucher span {
        color: var(--color_black);
    }
    
    .choose_voucher {
        display: flex;
        justify-content: left;
        align-items: center;
        column-gap: 5px;
    }
    
    .choose_voucher .btn_apply {
        font-family: 'Permanent Marker', cursive;
        background-image: url(../../images/btn_dungeon_result_0.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 13px;
        padding: 10px 35px;
        color: var(--color_black);
        transition: .5s linear;
    }
    
    .choose_voucher .btn_apply:hover {
        background-image: url(../../images/btn_dungeon_result_1.png);
    }
    
    .invoice_information {
        color: var(--color_black);
    }
    
    .customer_name,
    .customer_numberphone,
    .city,
    .address {
        display: flex;
        flex-direction: column;
    }
    
    .invoice_information img {
        width: 30px;
        height: 30px;
    }
    
    .subtotal,
    .shipping,
    .total,
    .subtotal span,
    .shipping span,
    .total span {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }