@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@font-face {
    font-family: 'TienHiep';
    /* Thay 'Tên_font' bằng tên bạn muốn đặt cho font chữ */
    src: url('../../font/FzLongbeach/FzLongBeach.ttf');
    /* Thay 'đường_dẫn/đến/file_font.fnt' bằng đường dẫn tới file font chữ .fnt */
}

:root {
    --color_background: #1b0d18;
    --color_yellow: #e1ae09;
    --color_white: #d4d4d4;
    --color_black: #1c1121;
    --color_dark: #1b182b;
    --color_light_dark: #322f40;
    --text_color: hsl(0, 0%, 91%);
    --color_item: #2c9b81a6;
}

a {
    text-decoration: none;
}

input {
    border: none;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    user-select: none;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #d4d4d4;
}

.hidden {
    display: none;
}

@keyframes shaking {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

.luckyWheel {
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 10px;
    width: 50px;
    height: 50px;
}

.luckyWheel img {
    width: 100%;
    height: 100%;
}

.luckyWheel span {
    position: absolute;
    bottom: 0;
    left: -8px;
    font-family: 'Permanent Marker', cursive;
    font-size: 10px;
    color: var(--color_yellow);
    text-shadow: 1px 1px 1px purple;
    font-weight: bold;
    white-space: nowrap;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.img2 {
    margin-left: -200px;
}

@keyframes from-top-to-bottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


/* you like */

.you_like_container {
    position: fixed;
    top: 200px;
    left: -100%;
    z-index: 10;
    background-image: url(../../images/UI/T_Share02.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 1rem;
    width: 500px;
    height: 200px;
    transition: 1s ease-out;
    display: flex;
}

.you_like_container .btn_close {
    position: absolute;
    top: 0;
    right: -12px;
    width: 40px;
}

.you_like_container .btn_close img {
    cursor: pointer;
    width: 30px;
}

.you_like_content {
    width: 100%;
}


/* gift */

.list_gift {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
}

.bling_container {
    cursor: pointer;
    width: 85px;
    height: 100%;
}

.bling_container,
.bag_gift {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bag_gift img {
    width: 60px;
    height: 60px;
}

.bag_gift .close_gift {
    animation: shaking .5s linear infinite alternate;
}

@keyframes open_gift_bag {
    0% {
        width: 0;
        height: 0;
        transform: rotate(0);
    }
    100% {
        height: 100px;
        width: 100px;
        transform: rotate(360deg);
    }
}

.gift {
    background: url(../../images/card4.png) center no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    padding: 1rem 0.5rem;
    position: relative;
}

.gift .img_game {
    margin-left: 5px;
    margin-bottom: 5px;
    width: 55px;
    height: 55px;
    position: relative;
}

.gift .img_game::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-image: url(../../images/Effect/gold_00000.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 75px;
    height: 75px;
    animation: border_gifft 2s linear infinite;
}

@keyframes border_gifft {
    0% {
        background-image: url(../../images/Effect/gold_00001.png);
    }
    10% {
        background-image: url(../../images/Effect/gold_00002.png);
    }
    20% {
        background-image: url(../../images/Effect/gold_00003.png);
    }
    30% {
        background-image: url(../../images/Effect/gold_00004.png);
    }
    40% {
        background-image: url(../../images/Effect/gold_00005.png);
    }
    50% {
        background-image: url(../../images/Effect/gold_00006.png);
    }
    60% {
        background-image: url(../../images/Effect/gold_00007.png);
    }
    70% {
        background-image: url(../../images/Effect/gold_00008.png);
    }
    80% {
        background-image: url(../../images/Effect/gold_00009.png);
    }
    90% {
        background-image: url(../../images/Effect/gold_00010.png);
    }
    100% {
        background-image: url(../../images/Effect/gold_00011.png);
    }
}

.gift .img_game img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.gift p {
    padding-left: 2px;
    color: var(--color_black);
    font-weight: 700;
    font-size: 10px;
    font-family: 'Permanent Marker', cursive;
}

.price_gift {
    display: flex;
    padding-left: 5px;
}

.old_price {
    text-decoration: line-through;
}

.old_price,
.new_price {
    color: var(--color_black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 13px;
}

.old_price img,
.new_price img {
    width: 13px;
    height: 13px;
}

.btn_buy_gift {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_buy_gift button {
    cursor: pointer;
    font-family: 'Permanent Marker', cursive;
    background: none;
    outline: none;
    border: none;
    background-image: url(../../images/btn.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    font-size: 12px;
    transition: .2s linear;
}

.btn_buy_gift button:hover {
    background-image: url(../../images/btn_active.png);
}

.btn_buy_gift button:active {
    transform: scale(0.9);
}


/* gift */

.btn_arrow .fa-solid {
    background: var(--color_light_dark);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.btn_arrow .fa-solid:hover {
    background: var(--color_yellow);
    color: var(--color_black);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: all 0.3s ease-in-out 0s;
    position: fixed;
    top: 40%;
    left: 20px;
    z-index: 10;
}

.button::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-image: url(../../images/a104.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: box_shadow 1.5s infinite ease;
}

@keyframes box_shadow {
    0% {
        width: 0;
        height: 0;
        transform: rotate(0);
    }
    100% {
        width: 100px;
        height: 100px;
        transform: rotate(360deg);
    }
}

.button img {
    width: 50px;
    height: 50px;
}

@keyframes pulse {
    100% {
        box-shadow: 0 0 0 45px rgba(193, 244, 246, 0);
    }
}


/* index contain */

.index_contain {
    margin-top: 6rem;
    width: 100%;
}

.index_contain__head {
    width: 100%;
    height: 400px;
    padding: 2rem 6rem 0 6rem;
    background: url(../../images/bg-sub-head.png) center;
    background-size: cover;
}

.index_contain__body {
    width: 100%;
    height: auto;
    padding: 0 6rem;
    background: url(../../images/bg-main-content.png) center repeat;
    background-size: cover;
}

.dialog {
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 100%;
    height: 500px;
    background: url(../../images/UI/ty_mb_shangcheng.png) center no-repeat;
    background-size: contain;
    padding: 2.5rem 10rem 3rem 10rem;
    position: relative;
}

.title,
.title_cate,
.title_recommend {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1,
.title_cate h1,
.title_recommend h1 {
    font-family: 'Permanent Marker', cursive;
    color: var(--color_yellow);
    text-shadow: 1px 1px 3px var(--color_black);
}

.line {
    width: 100%;
    max-width: 100%;
}

.line img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.see_more {
    position: absolute;
    top: -18px;
    right: 8%;
    background: url(../../images/a301.png) center no-repeat;
    background-size: contain;
    width: 50px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.see_more span {
    font-family: 'Permanent Marker', cursive;
    color: black;
    font-size: 10px;
}

.list_product {
    --spacing: 5px;
    --columns: 3;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--spacing));
    height: 100%;
    max-height: 100%;
    overflow: auto;
}

.list_product::-webkit-scrollbar {
    display: none;
}

.item_product {
    cursor: pointer;
    width: calc(calc(100% / var(--columns)) - var(--spacing));
    height: 180px;
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
    background: rgb(230, 210, 171);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5px;
    position: relative;
    overflow: hidden;
}

.item_infor_full {
    position: absolute;
    z-index: 6;
    bottom: 100%;
    left: 0;
    right: 0;
    width: 100%;
    padding: 5px;
    background: rgba(74, 67, 54, 0.632);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: bottom 0.2s linear;
}

.item_product:hover .item_infor_full {
    bottom: 0;
}

.item_infor_full .cate {
    font-family: 'Permanent Marker', cursive;
    color: var(--color_yellow);
    text-shadow: 1px 1px 3px var(--color_black);
}

.item_infor_full .cate a {
    font-family: 'Permanent Marker', cursive;
    color: red;
    text-decoration: underline;
}

.item_infor_full .amount {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.item_infor_full .amount .reduce {
    background: none;
    border: none;
    outline: none;
    background: url(../../images/minus.png) center no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
}

.item_infor_full .amount .increase {
    background: none;
    border: none;
    outline: none;
    background: url(../../images/plus.png) center no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
}

.item_infor_full .amount button {
    filter: drop-shadow(1px 2px 1px black);
}

.item_infor_full .amount button:active {
    transform: scale(0.9);
}

.item_infor_full .amount .number_amount {
    font-family: 'Permanent Marker', cursive;
    color: black;
    background: rgb(243, 237, 228);
    box-shadow: inset 0 0 1rem 0 rgba(11, 11, 11, 0.374);
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.item_infor_full .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.item_infor_full .btn button {
    cursor: pointer;
    font-family: 'Permanent Marker', cursive;
    font-size: 10px;
    background: none;
    border: none;
    outline: none;
    background: url(../../images/btn06.png) center no-repeat;
    background-size: contain;
    width: 80px;
    height: 50px;
    transition: .3s linear;
}

.item_infor_full .btn a {
    font-family: 'Permanent Marker', cursive;
    color: black;
    font-size: 10px;
    background: url(../../images/btn06.png) center no-repeat;
    background-size: contain;
    padding: 10px 25px;
    transition: .3s linear;
}

.item_infor_full .btn .buy {
    padding: 10px 30px;
}

.item_infor_full .btn button:hover,
.item_infor_full .btn a:hover {
    background: url(../../images/btn07.png) center no-repeat;
    background-size: contain;
    color: red;
}

.item_infor_full .btn button:active,
.item_infor_full .btn a:active {
    transform: scale(0.9);
}


/* recommend for you  */

.recommend {
    height: 200px;
}

.recommend_item {
    position: relative;
    background: url(../../images/border-feature.png) center no-repeat;
    background-size: contain;
    padding: 1rem 0.5rem;
}

.recommend_item video {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    object-fit: cover;
    transition: opacity .5s linear;
}

.recommend_item:hover video {
    opacity: 1;
}

.recommend_item img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.slick-initialized .slick-slide {
    margin: 0 6px;
}

.slick-prev {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background: none;
    outline: none;
    border: none;
}

.slick-next img {
    transform: scaleX(-1);
}

.slick-next {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background: none;
    outline: none;
    border: none;
}


/* sale */

.sale_content {
    width: 100%;
    height: 100%;
}

.item_product {
    position: relative;
}

.banner_sale {
    position: absolute;
    z-index: 7;
    top: 0;
    right: -5px;
    background: url(../../images/sale.png) center no-repeat;
    background-size: contain;
    width: 50px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner_sale-animation {
    animation: shaking .5s linear infinite alternate;
}

.banner_sale span {
    font-family: 'Permanent Marker', cursive;
    color: var(--color_yellow);
    text-shadow: 1px 1px 1px black;
    font-size: 13px;
}

.banner_sale p {
    font-family: 'Permanent Marker', cursive;
    color: black;
    font-size: 10px;
}

.item_product__content {
    width: 100%;
    height: 100%;
    position: relative;
}

.item_product__content .img {
    width: 100%;
    height: 70%;
}

.item_product__content .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

:is(.product_sale,
.product_deal) .name_and_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 5px;
    height: 50px;
}

:is(.product_favorite,
.product_gear) .name_and_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 5px;
    height: 30px;
}

.name_product {
    font-family: 'Permanent Marker', cursive;
    color: black;
    text-shadow: 1px 1px 1px var(--color_yellow);
    font-weight: bold;
    font-size: 20px;
    width: 55%;
}

.price {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    background: url(../../images/text_box.png) center no-repeat;
    background-size: contain;
}

.price .old_price span {
    font-family: 'Permanent Marker', cursive;
    color: gray;
    margin-right: 5px;
}

.price .new_price span {
    font-family: 'Permanent Marker', cursive;
    color: var(--color_yellow);
    font-size: 20px;
    text-shadow: 1px 1px 1px black;
    margin-right: 5px;
}


/* gear */

.product_gear .img img {
    object-fit: cover;
}


/* category */

.category {
    margin: 0 auto;
    width: 100%;
    height: 380px;
    background: url(../../images/UI/T_Share02.png) center no-repeat;
    background-size: contain;
    padding: 3rem 6rem;
}

.cate_list {
    height: 100%;
}

.cate__item {
    background: url(../../images/card4.png) center no-repeat;
    background-size: contain;
    height: 310px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.cate__item h1 {
    font-family: 'Permanent Marker', cursive;
    color: var(--color_yellow);
    text-shadow: 1px 1px 2px black;
}


/* deal */

.amount_tag {
    position: absolute;
    z-index: 7;
    top: 0;
    right: -10px;
    background: url(../../images/sale.png) center no-repeat;
    background-size: contain;
    width: 50px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: shaking .5s linear infinite alternate;
}

.amount_tag span {
    font-family: 'Permanent Marker', cursive;
    color: black;
    font-size: 8px;
}

.amount_tag p {
    font-family: 'Permanent Marker', cursive;
    color: var(--color_yellow);
    text-shadow: 1px 1px 2px black;
}

.product_deal .price .quantity span {
    font-family: 'Permanent Marker', cursive;
    color: black;
}


/* favorite */

@keyframes changeSeven {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

.rating i {
    color: var(--color_yellow);
    filter: drop-shadow(1px 1px 1px black);
    animation: changeSeven 1s linear infinite alternate;
}


/* pesponsive */

@media screen and (min-width: 1440px) {
    .dialog {
        height: 680px;
        padding: 3rem 8rem;
    }
    .see_more {
        top: 10px;
        right: 1%;
        width: 75px;
    }
}

@media screen and (max-width: 1050px) {
    .dialog {
        padding: 2.5rem 3.5rem 3rem 3.5rem;
    }
    .title {
        top: 25px;
    }
    .see_more {
        top: -5px;
        right: -1%;
    }
    .category {
        padding: 3rem 2rem;
    }
}

@media screen and (max-width: 1026px) {
    .dialog {
        padding: 2.5rem 3.5rem 3rem 3.5rem;
    }
    .title {
        top: 22px;
    }
    .see_more {
        top: -5px;
        right: -2%;
    }
    .category {
        padding: 3rem 2rem;
    }
}

@media screen and (max-width: 1025px) {
    /* recommend */
    .slick-initialized .slick-slide {
        margin: 0 5px;
    }
    .index_contain__body {
        padding: 0;
    }
    .dialog {
        padding: 2.5rem 8rem 3rem 8rem;
    }
    .see_more {
        right: 6%;
    }
    .category {
        padding: 3rem 4rem;
    }
}

@media screen and (max-width: 769px) {
    .dialog {
        padding: 4rem 3rem 3rem 3rem;
    }
    .see_more {
        top: 18px;
        right: -8px;
    }
    .title {
        top: 40px;
    }
    .category {
        padding: 3rem 2rem;
    }
    .name_product {
        font-size: 15px;
    }
    .item_infor_full .btn a {
        padding: 10px 20px;
    }
    .item_infor_full .btn .buy {
        padding: 10px 25px;
    }
}

@media screen and (max-width: 426px) {
    .luckyWheel {
        width: 30px;
        height: 30px;
    }
    .luckyWheel span {
        font-size: 8px;
    }
    /* you like container */
    .you_like_container {
        width: 420px;
    }
    .you_like_container .btn_close {
        top: 15px;
    }
    .list_gift {
        padding: 0;
        height: 100%;
    }
    .bag_gift img {
        width: 50px;
        height: 50px;
    }
    .gift {
        width: 70px;
        height: 150px;
        padding: 0.5rem 0.2rem;
    }
    .gift .img_game {
        margin-left: 10px;
        width: 45px;
        height: 45px;
    }
    .gift .img_game::after {
        width: 60px;
        height: 60px;
    }
    .index_contain__head {
        padding: 5px;
    }
    .dialog {
        background: url(../../images/UI/GetCard_03.png) center no-repeat;
        background-size: contain;
        padding: 4rem 4rem 3rem 4rem;
    }
    .list_product {
        --columns: 1;
    }
    .category {
        background-image: none;
    }
    .see_more {
        top: -22px;
        right: 20px;
    }
}

@media screen and (max-width: 376px) {
    .you_like_container {
        width: 375px;
    }
    .dialog {
        padding: 4rem 3rem 3rem 3rem;
    }
    .see_more {
        top: -18px;
        right: 0;
    }
}

@media screen and (max-width: 321px) {
    .you_like_container {
        width: 320px;
    }
    .gift {
        width: 55px;
        height: 115px;
    }
    .gift .img_game {
        width: 30px;
        height: 30px;
    }
    .gift .img_game::after {
        width: 40px;
        height: 40px;
    }
    .old_price,
    .new_price {
        font-size: 10px;
    }
    .dialog {
        padding: 4rem 2rem 3rem 2rem;
    }
    .see_more {
        top: -15px;
        right: -10px;
    }
}