@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@font-face {
    font-family: 'TienHiep';
    /* Thay 'Tên_font' bằng tên bạn muốn đặt cho font chữ */
    src: url('../../font/FzLongbeach/FzLongBeach.ttf');
    /* Thay 'đường_dẫn/đến/file_font.fnt' bằng đường dẫn tới file font chữ .fnt */
}

:root {
    --color_background: #1b0d18;
    --color_yellow: #e1ae09;
    --color_white: #d4d4d4;
    --color_black: #1c1121;
    --color_dark: #1b182b;
    --color_light_dark: #322f40;
    --text_color: hsl(0, 0%, 91%);
    --color_item: #2c9b81a6;
}

a {
    text-decoration: none;
}

input {
    border: none;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    user-select: none;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #d4d4d4;
    background-image: url(../../images/mid-5.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.luckyWheel {
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 10px;
    width: 50px;
    height: 50px;
}

.luckyWheel img {
    width: 100%;
    height: 100%;
}

.luckyWheel span {
    position: absolute;
    bottom: 0;
    left: -8px;
    font-family: 'Permanent Marker', cursive;
    font-size: 10px;
    color: var(--color_yellow);
    text-shadow: 1px 1px 1px purple;
    font-weight: bold;
    white-space: nowrap;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.img2 {
    margin-left: -200px;
}

@keyframes from-top-to-bottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


/* you like */

.you_like_container {
    position: fixed;
    top: 200px;
    left: -100%;
    z-index: 10;
    background-image: url(../../images/index/T_Share02.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 1rem;
    width: 500px;
    height: 200px;
    transition: 1s ease-out;
    display: flex;
}

.you_like_container .btn_close {
    position: absolute;
    top: 0;
    right: -12px;
    width: 40px;
}

.you_like_container .btn_close img {
    cursor: pointer;
    width: 30px;
}

.you_like_content {
    width: 100%;
}


/* gift */

.list_gift {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
}

.bling_container {
    cursor: pointer;
    width: 85px;
    height: 100%;
}

.bling_container,
.bag_gift {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bag_gift img {
    width: 60px;
    height: 60px;
}

@keyframes open_gift_bag {
    0% {
        width: 0;
        height: 0;
        transform: rotate(0);
    }
    100% {
        height: 100px;
        width: 100px;
        transform: rotate(360deg);
    }
}

.gift {
    background-image: url(../../images/card4.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100px;
    height: 180px;
    padding: 1rem 1rem;
    position: relative;
    border-radius: 5px;
}

.gift .img_game {
    margin-left: 5px;
    margin-bottom: 5px;
    width: 55px;
    height: 55px;
    position: relative;
}

.gift .img_game::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-image: url(../../images/Effect/gold_00000.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 75px;
    height: 75px;
    animation: border_gifft 2s linear infinite;
}

@keyframes border_gifft {
    0% {
        background-image: url(../../images/Effect/gold_00001.png);
    }
    10% {
        background-image: url(../../images/Effect/gold_00002.png);
    }
    20% {
        background-image: url(../../images/Effect/gold_00003.png);
    }
    30% {
        background-image: url(../../images/Effect/gold_00004.png);
    }
    40% {
        background-image: url(../../images/Effect/gold_00005.png);
    }
    50% {
        background-image: url(../../images/Effect/gold_00006.png);
    }
    60% {
        background-image: url(../../images/Effect/gold_00007.png);
    }
    70% {
        background-image: url(../../images/Effect/gold_00008.png);
    }
    80% {
        background-image: url(../../images/Effect/gold_00009.png);
    }
    90% {
        background-image: url(../../images/Effect/gold_00010.png);
    }
    100% {
        background-image: url(../../images/Effect/gold_00011.png);
    }
}

.gift .img_game img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.gift p {
    padding-left: 2px;
    color: var(--color_black);
    font-weight: 700;
    font-size: 10px;
    font-family: 'Permanent Marker', cursive;
}

.price_gift {
    display: flex;
    padding-left: 5px;
}

.old_price {
    text-decoration: line-through;
}

.old_price,
.new_price {
    color: var(--color_black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 13px;
}

.old_price img,
.new_price img {
    width: 20px;
    height: 20px;
}

.btn_buy_gift {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_buy_gift button {
    cursor: pointer;
    font-family: 'Permanent Marker', cursive;
    background: none;
    outline: none;
    border: none;
    background-image: url(../../images/btn.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    font-size: 12px;
    transition: .2s linear;
}

.btn_buy_gift button:hover {
    background-image: url(../../images/btn_active.png);
}

.btn_buy_gift button:active {
    transform: scale(0.9);
}


/* gift */

.btn_arrow .fa-solid {
    background: var(--color_light_dark);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.btn_arrow .fa-solid:hover {
    background: var(--color_yellow);
    color: var(--color_black);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: all 0.3s ease-in-out 0s;
    position: fixed;
    top: 40%;
    left: 20px;
    z-index: 10;
}

.button::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-image: url(../../images/a104.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: box_shadow 1.5s infinite ease;
}

@keyframes box_shadow {
    0% {
        width: 0;
        height: 0;
        transform: rotate(0);
    }
    100% {
        width: 100px;
        height: 100px;
        transform: rotate(360deg);
    }
}

.button img {
    width: 50px;
    height: 50px;
}

@keyframes pulse {
    100% {
        box-shadow: 0 0 0 45px rgba(193, 244, 246, 0);
    }
}


/* index 2 */

.index_contain {
    margin: 0 auto;
    margin-top: 7rem;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
}


/* menu */

.index_contain .index_menu {
    width: 400px;
    height: 100px;
    background-image: url(../../images/menu1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1rem;
    position: absolute;
    bottom: 0;
}

.index_contain .index_menu .index_menu__content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.index_contain .index_menu .item_menu {
    cursor: pointer;
    width: 60px;
    height: 40px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: .2s linear;
}

.suggestion {
    background-image: url(../../images/btn_menu1.png);
}

.sale {
    background-image: url(../../images/btn_menu2.png);
}

.favorite {
    background-image: url(../../images/btn_menu3.png);
}

.category {
    background-image: url(../../images/btn_menu4.png);
}

.gear {
    background-image: url(../../images/btn_menu6.png);
}

.deal {
    background-image: url(../../images/marketplace.png);
}

.index_contain .index_menu .item_menu span {
    font-family: 'Permanent Marker', cursive;
    position: absolute;
    bottom: -5px;
    font-size: 10px;
    font-weight: bold;
    color: var(--color_yellow);
    text-shadow: 1px 1px 1px rgb(128, 0, 49);
    background: rgba(0, 0, 0, 0.39);
    border-radius: 5px;
}

.index_contain .index_menu .item_menu:hover {
    transform: scale(1.5) translateY(-10px);
}


/* recommended */

.index_contain .recommended_game {
    width: 820px;
    height: 400px;
    background-image: url(../../images/index/T_Share04.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem 4rem;
    position: absolute;
    top: 40%;
    left: 200%;
    translate: -50% -50%;
    transition: left .5s linear;
}

.index_contain .recommended_game::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    background-image: url(../../images/Effect/torch/torch1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    animation: torch 2s infinite linear;
}

.index_contain .recommended_game::after {
    content: '';
    position: absolute;
    top: 20px;
    right: 0;
    background-image: url(../../images/Effect/torch/torch1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    animation: torch 2s infinite linear;
}

@keyframes torch {
    20% {
        background-image: url(../../images/Effect/torch/torch2.png);
    }
    40% {
        background-image: url(../../images/Effect/torch/torch3.png);
    }
    60% {
        background-image: url(../../images/Effect/torch/torch4.png);
    }
    80% {
        background-image: url(../../images/Effect/torch/torch5.png);
    }
    100% {
        background-image: url(../../images/Effect/torch/torch6.png);
    }
}

.notification {
    pointer-events: none;
    position: absolute;
    z-index: 10;
    top: 30%;
    right: 70px;
    width: 100px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: right 1s linear;
}

.notification_box {
    position: absolute;
    top: -40px;
    z-index: 5;
    background: #f6e6c5;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    width: 200px;
    padding: 5px;
}

.notification_box::before {
    content: '';
    position: absolute;
    top: 90%;
    right: 10px;
    width: 30px;
    height: 40px;
    background: #f6e6c5;
    clip-path: polygon(0 64%, 24% 0, 71% 0);
    transform: rotate(360deg);
}

.notification_box span {
    font-size: 13px;
    color: var(--color_black);
}

.notification_bot {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 55%;
    translate: -50% -50%;
    background-image: url(../../images/Effect/notification/notification1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 80px;
    height: 150px;
    animation: wing 2s infinite linear forwards;
}

@keyframes wing {
    7% {
        background-image: url(../../images/Effect/notification/notification2.png);
    }
    14% {
        background-image: url(../../images/Effect/notification/notification3.png);
    }
    21% {
        background-image: url(../../images/Effect/notification/notification4.png);
    }
    28% {
        background-image: url(../../images/Effect/notification/notification5.png);
    }
    35% {
        background-image: url(../../images/Effect/notification/notification6.png);
    }
    42% {
        background-image: url(../../images/Effect/notification/notification7.png);
    }
    49% {
        background-image: url(../../images/Effect/notification/notification8.png);
    }
    56% {
        background-image: url(../../images/Effect/notification/notification9.png);
    }
    63% {
        background-image: url(../../images/Effect/notification/notification10.png);
    }
    70% {
        background-image: url(../../images/Effect/notification/notification11.png);
    }
    77% {
        background-image: url(../../images/Effect/notification/notification12.png);
    }
    85% {
        background-image: url(../../images/Effect/notification/notification13.png);
    }
    92% {
        background-image: url(../../images/Effect/notification/notification14.png);
    }
    99% {
        background-image: url(../../images/Effect/notification/notification15.png);
    }
    100% {
        background-image: url(../../images/Effect/notification/notification16.png);
    }
}


/* saleGame */

.index_contain .sale_game {
    width: 820px;
    height: 400px;
    background-image: url(../../images/index/T_Intimacy_01.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem 3rem 2rem 9rem;
    position: absolute;
    top: 40%;
    left: 250%;
    translate: -50% -50%;
    transition: left .5s linear;
}

.sale_game__content {
    position: relative;
    height: 100%;
}

.banner {
    position: absolute;
    top: -8px;
    left: -166px;
    width: 200px;
    height: 200px;
    background-image: url(../../images/sale_banner.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_seeMore {
    position: absolute;
    bottom: 10px;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../images/btn_seemore.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}

.btn_seeMore a {
    font-family: 'Permanent Marker', cursive;
    padding: 20px 10px;
    margin-bottom: 20px;
    font-size: 10px;
    color: var(--color_black);
}

.list_product {
    width: 100%;
    height: 100%;
    --spacing: 10px;
    --columns: 4;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--spacing));
    margin-top: 5px;
}

.item_product {
    cursor: pointer;
    width: calc(calc(100% / var(--columns)) - var(--spacing));
    height: 160px;
    background-image: url(../../images/cardd.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    position: relative;
}

.sale_banner {
    position: absolute;
    top: -6px;
    right: -5px;
    background-image: url(../../images/sale.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    padding: 5px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sale_banner span {
    font-family: 'Permanent Marker', cursive;
    font-size: 12px;
    color: var(--color_yellow);
}

.sale_banner p {
    font-family: 'Permanent Marker', cursive;
    font-size: 8px;
    color: var(--color_black);
}

.item_product .img_product {
    width: 55px;
    height: 55px;
    position: relative;
}

.item_product .sale::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 75px;
    height: 75px;
    background-image: url(../../images/Effect/red-00000.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: border_product 2s infinite linear;
}

@keyframes border_product {
    0% {
        background-image: url(../../images/Effect/red-00001.png);
    }
    10% {
        background-image: url(../../images/Effect/red-00002.png);
    }
    20% {
        background-image: url(../../images/Effect/red-00003.png);
    }
    30% {
        background-image: url(../../images/Effect/red-00004.png);
    }
    40% {
        background-image: url(../../images/Effect/red-00005.png);
    }
    50% {
        background-image: url(../../images/Effect/red-00006.png);
    }
    60% {
        background-image: url(../../images/Effect/red-00007.png);
    }
    70% {
        background-image: url(../../images/Effect/red-00008.png);
    }
    80% {
        background-image: url(../../images/Effect/red-00009.png);
    }
    90% {
        background-image: url(../../images/Effect/red-00010.png);
    }
    100% {
        background-image: url(../../images/Effect/red-00011.png);
    }
}

.item_product .img_product img {
    width: 100%;
    height: 100%;
}

.item_product .name_product {
    background-image: url(../../images/text_box1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_product .name_product span {
    font-family: 'Permanent Marker', cursive;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 1px 1px 1px var(--color_yellow);
    color: var(--color_black);
    text-align: center;
}

.item_product_favorite {
    row-gap: 0 !important;
    padding: 10px 1rem 0 1rem !important;
}

.rating i {
    color: var(--color_yellow);
}

.banner span {
    font-family: 'Permanent Marker', cursive;
    color: var(--color_black);
    font-weight: bold;
    font-size: 20px;
}

.price_product {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.price_product span {
    font-family: 'Permanent Marker', cursive;
    color: var(--color_black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.price_product .old {
    color: gray;
    text-decoration: line-through;
}

.price_product .new {
    color: var(--color_yellow);
    text-shadow: 1px 1px 1px black;
}

.price_product span img {
    width: 25px;
    height: 25px;
}

.infor_game_sale {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../../images/infor_item_web.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    padding: 1.5rem;
}

.close_infor_game_sale {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 10px;
}

.close_infor_game_sale img {
    width: 25px;
    height: 25px;
}

.infor_game_sale__content {
    padding: 5px;
}

.img_product {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_product img {
    width: 200px;
    height: 95px;
}

.infor_product h3 {
    font-family: 'Permanent Marker', cursive;
    color: black;
    text-shadow: 1px 1px 1px var(--color_yellow);
}

.infor_product span {
    font-family: 'Permanent Marker', cursive;
    color: black;
}

.infor_product a {
    font-family: 'Permanent Marker', cursive;
    color: rgba(255, 0, 0, 0.68);
    text-decoration: underline;
}

.price_product_sale {
    display: flex;
    align-items: center;
}

.price_product_sale .price_old {
    font-family: 'Permanent Marker', cursive;
    color: gray;
    text-decoration: line-through;
}

.price_product_sale .price_new {
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    color: var(--color_yellow);
    text-shadow: 1px 1px 1px black;
}

.price_product_sale img {
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

.amount {
    display: flex;
    justify-content: center;
    align-items: center;
}

.amount .reduce {
    background: none;
    outline: none;
    border: none;
    background-image: url(../../images/minus.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.amount .increase {
    background: none;
    outline: none;
    border: none;
    background-image: url(../../images/plus.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.amount .reduce:active,
.amount .increase:active {
    transform: scale(0.9);
}

.amount .number_amount {
    font-family: 'Permanent Marker', cursive;
    color: var(--color_black);
    width: 100px;
    height: 25px;
    background: wheat;
    box-shadow: inset 0 0 1rem 0 rgba(11, 11, 11, 0.374);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.btn a {
    font-family: 'Permanent Marker', cursive;
    color: var(--color_black);
    font-size: 13px;
    background-image: url(../../images/btn.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 12px 22px;
}

.btn .detail {
    padding: 12px 15px;
}

.btn button {
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    font-family: 'Permanent Marker', cursive;
    color: var(--color_black);
    font-size: 10px;
    background-image: url(../../images/btn.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 70px;
    height: 35px;
}

.btn a:hover,
.btn button:hover {
    background-image: url(../../images/btn_active.png);
}


/* favorite */

.index_contain .favorite_game {
    width: 820px;
    height: 400px;
    background-image: url(../../images/index/T_Intimacy_02.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem 5rem;
    position: absolute;
    top: 40%;
    left: 250%;
    translate: -50% -50%;
    transition: left .5s linear;
}

.decorate {
    pointer-events: none;
    position: absolute;
    z-index: 10;
    top: -5px;
    right: 15px;
}

.decorate img {
    width: 200px;
    height: 100px;
    transform: scaleX(-1);
}

.btn_seeMore_favorite {
    position: absolute;
    top: 0;
    left: 25px;
    background-image: url(../../images/a301.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 130px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn_seeMore_favorite span {
    margin-bottom: 5px;
    font-family: 'Permanent Marker', cursive;
    color: purple;
    font-size: 9px;
}


/* category */

.index_contain .category_game {
    width: 820px;
    height: 400px;
    background-image: url(../../images/index/Texture_Star_11.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem 5rem;
    position: absolute;
    top: 40%;
    left: 250%;
    translate: -50% -50%;
    transition: left .5s linear;
}

.index_contain .category_game::before {
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    background-image: url(../../images/Effect/lantern/lantern1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    animation: lantern 3s infinite linear;
}

.index_contain .category_game::after {
    content: '';
    position: absolute;
    top: 0;
    right: 20px;
    background-image: url(../../images/Effect/lantern/lantern1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    animation: lantern 2s infinite linear;
}

@keyframes lantern {
    7% {
        background-image: url(../../images/Effect/lantern/lantern2.png);
    }
    14% {
        background-image: url(../../images/Effect/lantern/lantern3.png);
    }
    21% {
        background-image: url(../../images/Effect/lantern/lantern4.png);
    }
    28% {
        background-image: url(../../images/Effect/lantern/lantern5.png);
    }
    35% {
        background-image: url(../../images/Effect/lantern/lantern6.png);
    }
    42% {
        background-image: url(../../images/Effect/lantern/lantern7.png);
    }
    49% {
        background-image: url(../../images/Effect/lantern/lantern8.png);
    }
    56% {
        background-image: url(../../images/Effect/lantern/lantern9.png);
    }
    63% {
        background-image: url(../../images/Effect/lantern/lantern10.png);
    }
    70% {
        background-image: url(../../images/Effect/lantern/lantern11.png);
    }
    77% {
        background-image: url(../../images/Effect/lantern/lantern12.png);
    }
    84% {
        background-image: url(../../images/Effect/lantern/lantern13.png);
    }
    91% {
        background-image: url(../../images/Effect/lantern/lantern14.png);
    }
    100% {
        background-image: url(../../images/Effect/lantern/lantern15.png);
    }
}


/* gear */

.index_contain .gear_game {
    width: 820px;
    height: 400px;
    background-image: url(../../images/index/Texture_Bg_06.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem 4rem 2rem 7rem;
    position: absolute;
    top: 40%;
    left: 250%;
    translate: -50% -50%;
    transition: left .5s linear;
}

.seeMore {
    position: absolute;
    z-index: 2;
    top: -20px;
    left: 0;
}

.seeMore img {
    width: 150px;
    height: 100px;
}

.seeMore a {
    position: absolute;
    top: 57%;
    left: 45px;
}

.btn_see_More {
    padding-top: 35px;
    background-image: url(../../images/tag.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 150px;
}

.see-more {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.see-more span {
    font-family: 'Permanent Marker', cursive;
    color: rgb(186, 4, 4);
    font-size: 10px;
}

.gear_product::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 75px;
    height: 75px;
    background-image: url(../../images/Effect/pink-00000.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: border_product_gear 2s infinite linear;
}

@keyframes border_product_gear {
    0% {
        background-image: url(../../images/Effect/pink-00001.png);
    }
    10% {
        background-image: url(../../images/Effect/pink-00002.png);
    }
    20% {
        background-image: url(../../images/Effect/pink-00003.png);
    }
    30% {
        background-image: url(../../images/Effect/pink-00004.png);
    }
    40% {
        background-image: url(../../images/Effect/pink-00005.png);
    }
    50% {
        background-image: url(../../images/Effect/pink-00006.png);
    }
    60% {
        background-image: url(../../images/Effect/pink-00007.png);
    }
    70% {
        background-image: url(../../images/Effect/pink-00008.png);
    }
    80% {
        background-image: url(../../images/Effect/pink-00009.png);
    }
    90% {
        background-image: url(../../images/Effect/pink-00010.png);
    }
    100% {
        background-image: url(../../images/Effect/pink-00011.png);
    }
}

.seeMore {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* deal */

.index_contain .deal_game {
    width: 820px;
    height: 400px;
    background-image: url(../../images/index/Texture_Star_11.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem 5rem;
    position: absolute;
    top: 40%;
    left: 250%;
    translate: -50% -50%;
    transition: left .5s linear;
}

.item_product_deal {
    row-gap: 0 !important;
}

.deal_product::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 75px;
    height: 75px;
    background-image: url(../../images/Effect/oorange-00000.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation: border_product_deal 2s infinite linear;
}

@keyframes border_product_deal {
    0% {
        background-image: url(../../images/Effect/oorange-00001.png);
    }
    10% {
        background-image: url(../../images/Effect/oorange-00002.png);
    }
    20% {
        background-image: url(../../images/Effect/oorange-00003.png);
    }
    30% {
        background-image: url(../../images/Effect/oorange-00004.png);
    }
    40% {
        background-image: url(../../images/Effect/oorange-00005.png);
    }
    50% {
        background-image: url(../../images/Effect/oorange-00006.png);
    }
    60% {
        background-image: url(../../images/Effect/oorange-00007.png);
    }
    70% {
        background-image: url(../../images/Effect/oorange-00008.png);
    }
    80% {
        background-image: url(../../images/Effect/oorange-00009.png);
    }
    90% {
        background-image: url(../../images/Effect/oorange-00010.png);
    }
    100% {
        background-image: url(../../images/Effect/oorange-00011.png);
    }
}

.amout span {
    font-family: 'Permanent Marker', cursive;
    color: black;
    text-shadow: 1px 1px 1px gray;
}

.seeMore_content {
    position: absolute;
    top: 50px;
    left: 0;
    background-image: url(../../images/card4.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50px;
    height: 150px;
}

.deal_game_content .decor_img {
    pointer-events: none;
    position: absolute;
    z-index: 5;
    top: 0;
    left: -30px;
    width: 200px;
    height: 100px;
}

.see__more {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.see__more span {
    font-family: 'Permanent Marker', cursive;
    color: black;
    font-size: 12px;
}

.seeMore_Store {
    margin: 0 auto;
    width: 100px;
    height: 80px;
    background: url(../../images/btn_dungeon_result_1.png) center no-repeat;
    background-size: contain;
    display: none;
    justify-content: center;
    align-items: center;
}

.seeMore_Store a {
    font-family: 'Permanent Marker', cursive;
    color: black;
    font-size: 12px;
    font-weight: bold;
}


/* pesponsive */

@media screen and (min-width: 2560px) {
    body {
        background-size: cover;
    }
    .notification {
        right: 222px;
    }
}

@media screen and (min-width: 1440px) {
    body {
        background-size: cover;
    }
}

@media screen and (max-width: 1025px) {
    .index_contain {
        overflow-x: hidden;
        width: 1000px;
    }
    .avatar {
        display: none;
    }
}

@media screen and (max-width: 769px) {
    .index_contain {
        width: 800px;
    }
    /* recommended_game */
    .index_contain .recommended_game {
        width: 600px;
        padding: 6.5rem 4rem;
    }
    .tranding-slide {
        width: 30rem;
    }
    .tranding-slide {
        width: 25rem !important;
        height: 15rem !important;
    }
    .tranding-slide .tranding-slide-img img {
        width: 100% !important;
        height: 100% !important;
    }
    #tranding .tranding-slider {
        padding: 5px !important;
    }
    .tranding-slide::before,
    .tranding-slide::after {
        height: 195px !important;
    }
    .tranding-slide::after {
        right: -25px !important;
    }
    .index_contain .deal_game {
        width: 770px;
    }
    .notification {
        position: fixed;
        top: 70%;
        right: 30px;
        width: 50px;
        height: 150px;
    }
    .notification_box {
        width: 100px;
    }
    .notification_box span {
        font-size: 8px;
    }
    .notification_bot {
        width: 50px;
        height: 80px;
    }
}

@media screen and (max-width: 426px) {
    body {
        background-image: url(../../images/T_Intimacy_04.png);
    }
    .index_contain .index_menu {
        position: fixed;
        bottom: 0;
    }
    .index_contain .index_menu .index_menu__content {
        justify-content: center;
    }
    .index_contain .index_menu .item_menu {
        width: 55px;
        height: 35px;
    }
    .index_contain .sale_game,
    .index_contain .favorite_game,
    .index_contain .gear_game,
    .index_contain .deal_game {
        top: 60%;
        width: 330px;
        height: auto;
        background-image: none;
        padding: 0;
    }
    .index_contain .category_game {
        top: 50%;
        background-image: none;
    }
    .banner,
    .decorate,
    .seeMore,
    .index_contain .category_game::before,
    .index_contain .category_game::after,
    .deal_game_content .decor_img,
    .deal_game_content .btn_seeMoress {
        display: none;
    }
    .btn_seeMore {
        display: none;
    }
    .seeMore_Store {
        display: flex;
    }
    .list_product {
        --spacing: 10px;
        --columns: 2;
        margin-left: calc(-1 * var(--spacing));
    }
    .button {
        left: 10px;
    }
    .button img {
        width: 40px;
        height: 40px;
    }
    .luckyWheel {
        width: 30px;
        height: 30px;
    }
    .luckyWheel span {
        font-size: 8px;
    }
    /* you like container */
    .you_like_container {
        width: 420px;
    }
    .index_contain {
        width: 100%;
        height: 350px;
    }
    .you_like_container .btn_close {
        top: 15px;
    }
    .list_gift {
        padding: 0;
        height: 100%;
    }
    .bag_gift img {
        width: 50px;
        height: 50px;
    }
    .gift {
        width: 70px;
        height: 150px;
        padding: 0.5rem 0.2rem;
    }
    .gift .img_game {
        margin-left: 10px;
        width: 45px;
        height: 45px;
    }
    .gift .img_game::after {
        width: 60px;
        height: 60px;
    }
    /* recommended_game */
    .index_contain .recommended_game {
        width: 400px;
        height: 200px;
        padding: 0.5rem;
        background-image: none;
    }
    .tranding-slide {
        width: 20rem !important;
        height: 15rem !important;
    }
    .tranding-slide::before,
    .tranding-slide::after {
        height: 160px !important;
    }
    .notification {
        display: none;
    }
}

@media screen and (max-width: 376px) {
    .you_like_container {
        width: 375px;
    }
}

@media screen and (max-width: 321px) {
    .you_like_container {
        width: 320px;
    }
    .gift {
        width: 55px;
        height: 115px;
    }
    .gift .img_game {
        width: 30px;
        height: 30px;
    }
    .gift .img_game::after {
        width: 40px;
        height: 40px;
    }
    .old_price,
    .new_price {
        font-size: 10px;
    }
}