    @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
     :root {
        --color_background: #1b0d18;
        --color_yellow: #e1ae09;
        --color_white: #d4d4d4;
        --color_black: #1c1121;
        --color_dark: #1b182b;
        --color_light_dark: #322f40;
        --text_color: hsl(0, 0%, 91%);
        --color_item: #2c9b81a6;
    }
    
    a {
        text-decoration: none;
    }
    
    li {
        list-style-type: none;
    }
    
    input {
        border: none;
        outline: none;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    body {
        user-select: none;
        margin: 0;
        padding: 0;
        height: auto;
        width: 100%;
        box-sizing: border-box;
        font-size: 15px;
        font-weight: 500;
        color: #d4d4d4;
        background-image: url(../../images/Texture_FuLingLu_01clear.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .container {
        margin: 0 2rem;
    }
    
    .profile_container {
        margin: 0 auto;
        background-image: url(../../images/FindDiffPVP_BG2.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 85%;
        height: 800px;
        padding: 10rem 6rem;
    }
    
    .profile_content {
        padding: 2rem 0;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    
    .profile_avatar_control {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 30%;
        height: 400px;
    }
    
    .profile_infor {
        width: 70%;
        height: 400px;
        background: #f7deab;
        box-shadow: inset 0 0 1rem 0 rgba(11, 11, 11, 0.374);
    }
    
    .avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: rgba(128, 128, 128, 0.655);
        position: relative;
    }
    
    .avatar #avatar {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 100%;
        height: 100%;
    }
    
    .avatar .frame {
        position: absolute;
        top: 40%;
        left: 40%;
        translate: -45% -45%;
        width: 95px;
        height: 95px;
    }
    
    .menu_profile {
        margin-top: 1rem;
        color: var(--color_black);
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
    
    .menu_profile li {
        font-family: 'Permanent Marker', cursive;
        cursor: pointer;
        padding: 5px;
        width: 200px;
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #f5dba5;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 5px;
    }
    
    .menu_profile li img {
        display: none;
        width: 50px;
        height: 30px;
        transform: scaleX(-1);
        animation: rotateDown 1s ease-in-out infinite;
    }
    
    @keyframes rotateDown {
        0% {
            transform: translateX(10px) scaleX(-1);
        }
        100% {
            transform: translateX(0) scaleX(-1);
        }
    }
    
    .menu_profile li:hover {
        color: #e14a09;
        background: #f9d284;
        box-shadow: inset 0 0 1rem 0 rgba(11, 11, 11, 0.374);
    }
    
    .menu_profile li:hover img {
        display: inline-block;
    }
    
    .menu_profile li a {
        font-family: 'Permanent Marker', cursive;
        width: 100%;
        height: 100%;
        color: var(--color_black);
    }
    
    .menu_profile li a:hover {
        color: #e14a09;
    }
    
    .profile_user {
        padding: 5px 1rem;
        display: flex;
        justify-content: space-between;
    }
    
    .profile_item {
        color: var(--color_black);
        display: flex;
        justify-content: left;
        flex-direction: column;
    }
    
    .profile_item span {
        font-family: 'Permanent Marker', cursive;
    }
    
    .profile_item input {
        font-family: 'Permanent Marker', cursive;
        padding-left: 5px;
        background: #ffe9bd;
        box-shadow: inset 0 0 1rem 0 rgba(11, 11, 11, 0.374);
        width: 250px;
        height: 25px;
    }
    
    .btn_profile {
        flex-direction: row;
        column-gap: 1rem;
    }
    
    .btn_profile a {
        font-family: 'Permanent Marker', cursive;
        color: var(--color_black);
        background-image: url(../../images/btn_dungeon_result_0.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        padding: 15px 30px;
        transition: .5s linear;
    }
    
    .btn_profile button {
        font-family: 'Permanent Marker', cursive;
        cursor: pointer;
        background: none;
        outline: none;
        border: none;
        color: var(--color_black);
        background-image: url(../../images/btn_dungeon_result_0.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        padding: 15px 30px;
        transition: .5s linear;
    }
    
    .btn_profile a:hover,
    .btn_profile button:hover {
        background-image: url(../../images/btn_dungeon_result_1.png);
    }
    
    .password {
        display: flex;
        column-gap: 5px;
    }
    
    .password button {
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
        width: 25px;
        height: 25px;
        background-image: url(../../images/bt_xiugai.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .password button:active {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    
    .hidden {
        display: none;
    }
    /* avatar */
    
    .profile_avatar {
        position: relative;
        height: 100%;
    }
    
    .list_avatar {
        --spacing: 20px;
        --columns: 7;
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        margin-left: calc(-1 * var(--spacing));
        max-height: 400px;
        overflow: auto;
    }
    
    .list_avatar::-webkit-scrollbar {
        display: none;
    }
    
    .item_avatar {
        cursor: pointer;
        width: calc(calc(100% / var(--columns)) - var(--spacing));
        height: 70px;
        margin-left: var(--spacing);
        margin-bottom: var(--spacing);
        display: block;
        border-radius: 50%;
        background: rgba(128, 128, 128, 0.655);
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .item_frame {
        cursor: pointer;
        width: calc(calc(100% / var(--columns)) - var(--spacing));
        height: 70px;
        margin-left: var(--spacing);
        margin-bottom: var(--spacing);
        display: block;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    @keyframes rotate {
        0% {
            transform: translate(-50%, -50%) rotateZ(0deg);
        }
        100% {
            transform: translate(-50%, -50%) rotateZ(360deg);
        }
    }
    
    .item_avatar input,
    .item_frame input {
        display: none;
    }
    
    .item_avatar img,
    .item_frame img {
        width: 68px;
        height: 68px;
    }
    
    .save_avatar {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .save_avatar a {
        font-family: 'Permanent Marker', cursive;
        color: var(--color_black);
        background-image: url(../../images/btn_dungeon_result_0.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        padding: 15px 20px;
        transition: .3s linear;
    }
    
    .save_avatar a:hover {
        background-image: url(../../images/btn_dungeon_result_1.png);
    }
    
    .save_avatar a:nth-child(1) {
        padding: 15px 50px;
    }
    
    .star {
        z-index: 98;
        top: -100px;
        left: 50%;
        width: 50px;
        height: 50px;
        background-image: url(../../images/ef_3056.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;
        transform-origin: bottom center;
        animation: star-appear 1s ease-out;
    }
    
    @keyframes star-appear {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    @keyframes star-disappear {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }