* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

.contain_loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1000;
}

.door_left {
    position: absolute;
    top: -85px;
    left: 0;
    width: 50%;
    transition: 2s linear;
}

.door_right {
    position: absolute;
    top: -85px;
    right: 0;
    width: 50%;
    transition: 2s linear;
}

.door_left img {
    object-fit: cover;
    width: 100%;
}

.door_right img {
    object-fit: cover;
    width: 100%;
}

.icon_loading {
    position: absolute;
    z-index: 1001;
    opacity: 1;
    animation: rotate .7s linear forwards, fadeOut .7s .5s forwards;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.icon_loading img {
    width: 200px;
    height: 200px;
}