@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
:root {
    /* --color_background: #1c181e; */
    --color_yellow: #e1ae09;
    --color_white: #d4d4d4;
    --color_black: #1c1121;
    --color_dark: #1b182b;
    --color_light_dark: #322f40;
    --text_color: hsl(0, 0%, 91%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* custom scrollbar */

html::-webkit-scrollbar {
    display: none;
}

#content {
    width: 100%;
    height: 100%;
}

.progress {
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
    z-index: 300;
}

.progress_bar {
    height: 4px;
    width: 100%;
    background: linear-gradient(30deg, rgb(255, 130, 0) 20%, rgb(255, 38, 0) 80%);
}

a {
    text-decoration: none;
}

input {
    border: none;
    outline: none;
}

.nav {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(../../images/Texture_loading_01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 5px 20px;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    border-bottom: 2px solid #bd9843;
    box-shadow: 0px 12px 24px 0px rgba(120, 120, 120, 0.3);
    transition: .5s ease;
}

.lanterns_left {
    position: absolute;
    z-index: -1;
    top: 83px;
    left: 40px;
    pointer-events: none;
    transition: .5s ease;
}

.lanterns_right {
    position: absolute;
    z-index: -1;
    top: 83px;
    right: 40px;
    pointer-events: none;
    transition: .5s ease;
}

.lanterns_left img,
.lanterns_right img {
    width: 70px;
}

.logo {
    text-transform: uppercase;
    font-size: 30px;
}

.logo a {
    padding: 0 5px;
    border-radius: 5px;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 5px #fff;
    }
    50% {
        box-shadow: 0 0 20px #eeff00;
    }
    100% {
        box-shadow: 0 0 5px #fff;
    }
}

.logo_gg {
    font-family: 'Permanent Marker', cursive;
    color: var(--color_yellow);
    font-weight: bold;
}

.logo_store {
    font-family: 'Permanent Marker', cursive;
    color: var(--color_white);
}

.nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.nav_item {
    font-family: 'Permanent Marker', cursive;
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1;
    margin-left: 2px;
    padding: 20px;
    border-right: 2px solid #bd9843;
    color: #d4d4d4;
    position: relative;
    transition: .5s ease;
}

.nav_item::before {
    content: "";
    position: absolute;
    top: 55px;
    right: 5px;
    background: transparent;
    padding: 20px 40px;
}

.icon_size {
    font-size: 15px;
    color: #d4d4d4;
}

.nav_item:hover {
    background: #2c9b81a6;
}

.dropdown-content {
    position: absolute;
    top: 140%;
    right: -2rem;
    background-image: url(../../images/Texture_loading_01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 0.1px solid var(--color_yellow);
    box-shadow: 0px 12px 24px 0px rgba(120, 120, 120, 0.3);
    border-radius: 5px;
    width: 150px;
    padding: 10px;
    list-style-type: none;
}

.dropdown-content li {
    font-family: 'Permanent Marker', cursive;
    margin: 0.6rem 0;
    padding: 3px;
    border-radius: 5px;
    color: var(--color_white);
    transition: .3s linear;
}

.dropdown-content a li:hover {
    background: #2c9b81a6;
}

.dropdown-content {
    display: none;
}

.icon {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    transition: .5s linear;
    cursor: pointer;
}

.icon i {
    color: white;
}

.icon:hover {
    background: #2c9b81a6;
}

.icon span {
    font-family: 'Permanent Marker', cursive;
    font-size: 10px;
    font-weight: bold;
    opacity: 0;
    margin-top: 5px;
    transition: opacity .3s ease;
}

.icon:hover span {
    opacity: 1;
}

.menu_icon {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    height: 44px;
    width: 44px;
    cursor: pointer;
    z-index: 200;
    transition: .3s;
}

.menu_icon div {
    display: block;
    background: var(--color_white);
    height: 3px;
    width: 25px;
    transition: 0.3s;
}

.basket,
.store {
    display: none;
}

.move .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.move .line2 {
    opacity: 0;
}

.move .line3 {
    transform: rotate(45deg) translate(-6px, -6px);
}


/* menu for mobile */

.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(198, 156, 4, 0.8);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
    clip-path: circle(0% at 100% 0%);
}

.cart_mobie,
.store_mobie {
    display: none;
}

.menu.active {
    clip-path: circle(144% at 100% 0%);
}

.menu img {
    width: 400px;
    margin-left: 3rem;
}

.navbar {
    display: grid;
    row-gap: 1rem;
    text-align: right;
    padding-right: 3rem;
}

.navbar a {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.6rem;
    color: var(--color_light_dark);
    font-weight: bold;
    transition: .2s;
}

.navbar a:hover {
    font-size: 2rem;
    color: var(--color_light_dark);
    border-bottom: 4px solid var(--color_black);
}

.menu_user {
    position: absolute;
    top: 110%;
    right: 1.5rem;
    background-image: url(../../images/Texture_loading_01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 0.1px solid var(--color_yellow);
    box-shadow: 0px 12px 24px 0px rgba(120, 120, 120, 0.3);
    border-radius: 5px;
    width: 250px;
    padding: 10px;
    font-weight: bold;
    clip-path: circle(0% at 100% 0%);
}

.menu_user span {
    font-family: 'Permanent Marker', cursive;
}

.menu_user.active {
    clip-path: circle(144% at 100% 0%);
    transition: .3s;
}

.menu_us_infor {
    border-bottom: 1px solid var(--color_yellow);
}

.coin {
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 5px;
    font-size: 15px;
}

.number_gcoin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.represent {
    width: 30px;
    height: 30px;
}

.currency_unit,
.name_user {
    color: var(--color_yellow);
}

.menu_us_control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn_control {
    font-family: 'Permanent Marker', cursive;
    color: var(--color_white);
    background: #2c9b81a6;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    margin-top: 0.5rem;
    transition: .5s linear;
}

.btn_control:hover {
    background: #30f8c9bd;
    color: var(--color_dark);
}

.menu_search {
    position: absolute;
    top: 110%;
    right: 1.5rem;
    background-image: url(../../images/Texture_loading_01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 0.1px solid var(--color_yellow);
    box-shadow: 0px 12px 24px 0px rgba(120, 120, 120, 0.3);
    border-radius: 5px;
    width: 250px;
    padding: 5px;
    clip-path: circle(0% at 100% 0%);
}

.menu_search.active {
    clip-path: circle(144% at 100% 0%);
    transition: .3s;
}

.menu_search #bar_search {
    font-family: 'Permanent Marker', cursive;
    border: none;
    outline: none;
    height: 2rem;
    background: transparent;
    color: var(--color_white);
    width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_search #bar_search:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.menu_nofication {
    position: absolute;
    top: 110%;
    right: 2rem;
    background-image: url(../../images/Texture_loading_01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 0.1px solid var(--color_yellow);
    box-shadow: 0px 12px 24px 0px rgba(120, 120, 120, 0.3);
    border-radius: 5px;
    width: 250px;
    max-height: 250px;
    overflow: auto;
    padding: 5px;
    clip-path: circle(0% at 100% 0%);
}

.menu_nofication.active {
    clip-path: circle(144% at 100% 0%);
    transition: .3s;
}

.menu_nofication::-webkit-scrollbar {
    display: none;
}

.box_nofication p {
    font-family: 'Permanent Marker', cursive;
    color: var(--color_dark);
    margin: 0;
}

.box_nofication {
    font-size: 10px;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    background-image: url(../../images/Texture_TutorialMisson_05.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5px;
}

.box_nofication span {
    font-family: 'Permanent Marker', cursive;
    color: var(--color_dark);
}

.box_nofication .user_name {
    color: var(--color_yellow);
}

.control_nofication {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete_nofication {
    color: var(--color_dark);
}

.delete_nofication:hover {
    color: red;
}

.announcement_date {
    font-family: 'Permanent Marker', cursive;
    color: var(--color_dark);
}


/* responsive */

@media screen and (max-width: 1025px) {
    .nav {
        padding: 5px 5px;
    }
    .nav_item {
        padding: 17px;
    }
}

@media screen and (max-width: 769px) {
    .nav_item {
        display: none;
    }
    .menu_icon {
        display: flex;
    }
    .basket,
    .store {
        display: block;
    }
    .store_mobie,
    .cart_mobie {
        display: block;
    }
    .lanterns_left img,
    .lanterns_right img {
        width: 60px;
        height: 80px;
    }
    .logo_gg,
    .logo_store {
        font-size: 20px;
    }
    .logo_store {
        padding: 0;
    }
    .menu_user span {
        font-size: 15px;
    }
}

@media screen and (max-width: 426px) {
    .logo {
        font-size: 20px;
        padding: 3px;
        margin-left: 0.3rem;
    }
    .icon {
        margin: 0;
    }
    .navbar {
        text-align: center;
        padding-right: 0;
    }
    .menu {
        justify-content: center;
    }
    .menu img {
        display: none;
    }
    .lanterns_left,
    .lanterns_right {
        display: none;
    }
    .basket,
    .store {
        display: none;
    }
}

@media screen and (max-width: 376px) {
    .logo {
        font-size: 20px;
        padding: 3px;
        margin-left: 0.5rem;
    }
    .nav_list {
        margin-left: -30px;
    }
}