@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
:root {
    --color_background: #1b0d18;
    --color_yellow: #e1ae09;
    --color_white: #d4d4d4;
    --color_black: #1c1121;
    --color_dark: #1b182b;
    --color_light_dark: #6161625b;
    --text_color: hsl(0, 0%, 91%);
    --color_item: #2c9b81a6;
}

a {
    text-decoration: none;
}

input {
    border: none;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 500;
    color: #d4d4d4;
    background-image: url(../../images/Texture_FuLingLu_01clear.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.recharge_container {
    margin: 0 auto;
    background-image: url(../../images/Texture_Bg_04.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 85%;
    height: 800px;
    padding: 9rem 4rem;
}

.recharge_content {
    padding: 0 2rem;
}

.recharge_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recharge_title h1 {
    font-family: 'Permanent Marker', cursive;
    margin-top: 5px;
}

.payment_method {
    margin-top: 1rem;
}

.list_payment {
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 0.5rem;
}

.item_payment {
    width: 200px;
    padding: 5px;
    border: 2px solid rgba(128, 128, 128, 0.507);
    border-radius: 5px;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 1rem;
    background: #ffffff34;
    backdrop-filter: blur(10);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: .3s linear;
    user-select: none;
}

.item_payment input {
    display: none;
}

.item_payment.checked {
    border: 2px solid rgba(255, 0, 0, 0.774);
}

.item_payment img {
    width: 80px;
    height: 80px;
}

.item_payment span {
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
    color: var(--color_dark);
}

.payment_method_card {
    width: 100%;
    margin-top: 1rem;
}

.list_card_phone {
    width: 100%;
    height: auto;
}

.list_card_phone select {
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
    background: transparent;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.361);
    width: 100px;
    border-radius: 5px;
}

.list_card_phone select option {
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
}

.board {
    width: 100%;
    display: flex;
    justify-content: left;
}

.prices_board {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 2px solid rgba(239, 14, 14, 0.361);
}

.price {
    width: 50%;
    height: 100%;
}

.price .title {
    border-right: 1px solid rgba(128, 128, 128, 0.361);
}

.board .title {
    border-bottom: 1px solid rgba(128, 128, 128, 0.361);
}

.board .title h1 {
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
    color: var(--color_dark);
}

.board .title img {
    width: 45px;
    height: 45px;
    vertical-align: middle;
}

.content {
    color: var(--color_dark);
    height: auto;
}

.price .content .item {
    border-right: 1px solid rgba(128, 128, 128, 0.361);
}

.item {
    padding-left: 5px;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.361);
    user-select: none;
    cursor: pointer;
}

.item span {
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
}

.content .item input[type="checkbox"] {
    display: none;
}

.item img {
    width: 20px;
    height: 20px;
}

.item .checked-img {
    display: none;
}

.item .unchecked-img {
    display: inline-block;
}

.gcoin {
    width: 50%;
    height: 100%;
}

.infor_board {
    width: 50%;
}

.infor_board .title {
    padding-left: 5px;
}

.infor_board .content {
    padding-left: 5px;
}

.infor_board .content .item {
    padding-left: 0;
    margin-top: 1rem;
    height: 90px;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    border: none;
}

.infor_board .content .item input {
    margin-top: 5px;
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
    background: transparent;
    width: 70%;
    height: 40px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.361);
    transition: .3s linear;
}

.infor_board .content .item input:focus {
    border-bottom: 2px solid rgb(21, 21, 21);
}

.infor_board .content button {
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
    background: transparent;
    width: 70%;
    height: 40px;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.361);
    border-radius: 5px;
    transition: .5s linear;
    cursor: pointer;
}

.infor_board .content button:hover {
    background: #2c9b81ed;
}

.payment_method_momo {
    margin-top: 2rem;
}

.payment_method_momo .board .prices_board .price .content .item {
    column-gap: 1rem;
}

.payment_method_momo .board .prices_board .gcoin .content .item {
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
}

.payment_method_momo .board .infor_board .content .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.361);
}

.payment_method_momo .board .infor_board .content .item .infor_product {
    display: flex;
    justify-content: left;
    align-items: center;
}

.payment_method_momo .board .infor_board .content .item .infor_product img {
    width: 30px;
    height: 30px;
}

.payment_method_momo .board .infor_board .content button {
    margin-top: 1rem;
}

@media screen and (max-width: 1025px) {
    .recharge_container {
        background-image: url(../../images/a196.png);
        width: 800px;
        height: 500px;
        margin-top: 5rem;
        padding: 3rem 4rem;
    }
    .recharge_title h1 {
        font-size: 20px;
    }
    /* ===================== */
    .item_payment {
        width: 150px;
        padding: 0;
    }
    .price .content .item,
    .item {
        height: 35px;
    }
    .item_payment img {
        width: 60px;
        height: 60px;
    }
    .item_payment span {
        font-size: 12px;
    }
    .item span {
        font-size: 13px;
    }
    .board .title h1 {
        font-size: 15px;
    }
    .board .title img {
        width: 25px;
        height: 25px;
    }
    .payment_method_momo .board .prices_board .gcoin .content .item {
        font-size: 13px;
    }
}

@media screen and (max-width: 769px) {
    .recharge_container {
        width: 700px;
        height: 500px;
        margin-top: 5rem;
        padding: 4.5rem 4rem;
    }
    .prices_board {
        height: auto;
    }
    /* ======================== */
    .price .content .item,
    .item {
        height: 30px;
    }
    .item_payment {
        width: 130px;
    }
    .item_payment img {
        width: 50px;
        height: 50px;
    }
    .item span,
    .payment_method_momo .board .prices_board .gcoin .content .item {
        font-size: 11px;
    }
    .payment_method_momo .board .infor_board .content button {
        margin-top: 5px;
    }
}

@media screen and (max-width: 427px) {
    .recharge_container {
        background-image: url(../../images/a133.png);
        width: 420px;
        margin-top: 5rem;
        padding: 4.5rem 1rem;
    }
    /* ============================= */
    .price {
        width: 70%;
    }
    .gcoin {
        width: 30%;
    }
}

@media screen and (max-width: 426px) {
    .recharge_container {
        background-image: url(../../images/a133.png);
        width: 350px;
        margin-top: 5rem;
        padding: 6rem 1rem;
    }
    /* ============================= */
    .price {
        width: 70%;
    }
    .gcoin {
        width: 30%;
    }
    .board .title h1 {
        font-size: 12px;
    }
    .prices_board {
        max-height: 150px;
        overflow: auto;
    }
    .infor_board .content .item {
        margin-top: 5px;
    }
    .infor_board .content .item input {
        height: 20px;
    }
    .infor_board .content .item {
        height: auto;
    }
    .infor_board .content button {
        height: 30px;
        margin-top: 5px;
    }
    .payment_method_momo .board .infor_board .content button {
        font-size: 10px;
        width: 100px;
    }
}