.star {
    position: absolute;
    z-index: 98;
    top: 200px;
    left: 50%;
    width: 50px;
    height: 50px;
    background-image: url(../../images/ef_3056.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    opacity: 0;
    animation: fall 5s linear infinite;
    transform-origin: bottom center;
}

@keyframes fall {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}